* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header a {
    margin: 0px 20px;
    text-decoration: none;
    color: gray;

}

.header-dx-side,
.header-sx-side {
    height: 30px;
}

.header-dx-side {
    padding-top: 10px;
}

.header-button {
    background-color: #0061FF;
    color: white;
    border: none;
    padding: 1px 10px;

}


.unico-posto {
    margin-top: 10px;
    background-color: #B4D0E7;
    position: relative;
}

.centered-in-section {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

.centered-in-section h1 {
    font-size: 4.3rem;
}

.proposta-cliente {
    justify-content: space-between;
    margin-top: 60px;
}




.unico-posto-text {
    width: 40%;
}

.jumbo-img {
    width: 60%;


}

.jumbo-img img {
    width: 100%;
    height: 120%;
}



.first-prova-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#down-arrow {
    margin-top: 5px;
    font-size: 5rem;
}



.piano-business {

    margin: auto;
    margin-top: 250px;
    margin-bottom: 50px;
}


.piano-business h2 {
    margin-bottom: 50px;
}

.radio {
    margin-bottom: 30px;
}

label {
    margin-right: 20px;
}


.three-cards {
    justify-content: space-between;
}

.three-cards>div {
    width: calc(100% / 3 - 40px);
}

.offer-cards-title {
    text-align: center;
}

.advanced {
    margin: 0px 20px;
}

.internal-card {
    width: 80%;
    margin: auto;
}

.offer-type {
    margin-bottom: 30px;
}

.ufficio-vendite {
    margin-bottom: 50px;
}

.ufficio-vendite>h5 {
    text-align: center;
}

.enterpriseANDbutton {
    justify-content: space-between;
    padding: 10px 0px;
}

.enterprise {
    width: 60%;
}

.enterprise>h5 {
    margin-top: 20px;
}

.enterprise>p {
    margin-top: 50px;
    margin-bottom: 20px;
}

.partner {
    margin: auto;
    margin-top: 80px;

}

.partner img {
    width: 50%;
}

.partner-text {
    width: 30%;
    margin: 50px 60px;
}

.business-cards {
    margin: auto;
    margin-top: 50px;
}

.six-cards {
    margin-top: 20px;
    justify-content: space-between;
}

.six-cards img {
    width: 90%;
}

.card {
    text-align: left;
}

.card p {
    padding-top: 20px;
}

.link {
    margin: auto;
    margin-top: 50px;
}

.link h2 {
    margin-bottom: 50px;
}

.mosaico {
    margin-top: 50px;
    height: 500px;
}

.mosaico>div {
    width: calc(100% / 3);
}



.first-colored-div>div {
    width: calc(50%);
}

.first-colored-div img {
    filter: invert(1);
}




.first-half,
.second-half {
    justify-content: center;
}

.first-half>div {
    height: calc(50%);
}

.second-half>div {
    height: calc(50%);
}

.first-half>div>img {
    width: 80%;
}

.second-half>div>img {
    width: 100%;
    height: 70%;
}

#topps {
    width: 50%;
}

#arizona {
    width: 50%;
}

.top-sx-square {
    background-color: #A2D39B;
}

.bottom-sx-square {
    background-color: #0093CE;
}

.top-dx-square {
    background-color: #61082B;
}



.bottom-dx-square {
    background-color: #FF1C1C;
}

.second-colored-div {
    background-color: #F5F5F5;
    padding-left: 20px;
    padding-top: 20px;
}


.centered-designit>img {
    width: 50%;
    margin-bottom: 20px
}

.centered-designit>hr {
    width: 25%;
}

.under-designit-text {
    margin-top: 30px;
    padding-right: 20px;
}

#author {
    margin-top: 40px;
}

.third-colored-div>div {
    width: calc(50%);
}

.third-colored-div img {
    filter: invert(1);
}

.top-sx-square2 {
    background-color: #D5001F;
}

.bottom-sx-square2 {
    background-color: #0D2481;
}

.top-dx-square2 {
    background-color: #B4D0E7;
}


.bottom-dx-square2 {
    background-color: #FFD830;
}

.prova-gratuita {
    width: 100%;
    background-color: #B4D0E7;
    padding: 150px 0px;
    justify-content: space-around;
}

.prova-gratuita-text {
    width: 25%;
    color: #863E2B;
}

.prova-gratuita-button>button {
    padding: 5px 25px;
    border: none;
}

.domande-frequenti {
    padding: 80px 0px;
}

.domande-frequenti-title {
    margin-bottom: 50px;
}

.domande-frequenti-options>div {
    margin: 30px 0px;

}

.question1>.hover-text1 {
    display: none;
}

.question1:hover .hover-text1 {
    display: block;
}

.question2>.hover-text2 {
    display: none;
}

.question2:hover .hover-text2 {
    display: block;
}

.question3>.hover-text3 {
    display: none;
}

.question3:hover .hover-text3 {
    display: block;
}

footer {
    background-color: black;
    color: white;
    justify-content: space-around;
    padding: 50px 100px 100px;
}

footer strong {
    line-height: 50px;
}

footer a {
    text-decoration: none;
    color: white;
    line-height: 30px;
}

footer hr {
    margin-top: 100px;
}

.user,
.folder,
.share {
    margin-bottom: 50px;
}

.internal-button {
    justify-content: center;
    margin-bottom: 20px;
}

.internal-button>button {
    width: 100%;
}

.acquista-link {
    margin-bottom: 20px;
}

.rule-internal-card {
    width: 20%;
    margin-bottom: 20px;
}

.last-internal-text {
    margin-bottom: 200px;
}

.last-internal-text h5 {
    line-height: 50px;
}


/* Utilities */
.flex {
    display: flex;
}

.header-margin {
    margin: 0px 20px;
}

.column {
    flex-direction: column;
}

.width-70 {
    width: 70%;
}

.width-90 {
    width: 90%;
}

.margin-auto {
    margin: auto;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.blue-button {
    padding: 10px;
    background-color: #0061FF;
    color: white;
    border: none;
}

.icon {
    width: 5%;
    margin-right: 3px;
}

.grey-button {
    margin-top: 20px;
    padding: 5px;
    width: 60%;
    background-color: white;

}

/* end Utilities */

/* debug */
.border {
    border: 1px solid black;

}




/* end debug */